
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 30px;
}
.para{
    font-size: 40px;
    color: grey;
    margin: 10px;
}
button{
    padding: 5px;
    height: 30px;
    width: 80px;
    border-radius:5px;
    border:none;
    margin: 3px;
    cursor: pointer;
}
#btn1{
    background-color: green;
    color: white;
}
#btn2{
   background-color: blue;
    color: white; 
}
#btn3{
     background-color: red;
    color: white; 
}